.Download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
  /* font-weight: 600; */
  color: white;
  background-color: #001d3d;
  width: 100px;
  transition: all 0.5s;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.Download-button:hover {
  opacity: 1;
  left: 0;
  background-color: white;
  color: #001d3d;
}

.pages {
  max-width: 1200px;
  margin: 5px auto;
  padding: 20px;
}
