.card-container {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
  align-items: center;
}

.card {
  background-color: #001d3d !important;
  color: white !important;
  text-align: center !important;
  padding: 0px !important;
  border-radius: 10px !important;
  text-decoration: none !important;
  margin: 20px !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.card:hover {
  background-color: #00296b;
  box-shadow: 2px 2px 25px white;
  transition: all 0.7s;
}
.views-title{
  margin-bottom: -10px;
  margin-left: -15px;
}

h2 {
  margin: 5px;
}

p {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-left: -10px;
}

/* Ajuste de estilos para títulos y descripciones dentro de las tarjetas */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h5 {
  margin: 10px 0;
}

.card-content p {
  margin: 10px 0;
}

.card-text {
  padding: 5px;
  color: #a1a0a0;
}