.table-container {
  overflow-x: auto;
  width: 100%;
  background-color: #000814;
}

.table-header {
  /*styling*/
  background-color: #000814;
  color: white;

  /*font*/
  font-weight: 300;
  font-size: 15px;

  /*dimensions*/
  padding: 0 10px 0 10px;
  height: 100%;
  width: 100%;
}

.cell {
  width: 100%;
  height: 40px;
  margin: 0;

  box-sizing: border-box;

  border: 0;
  padding: 0;
  padding-left: 10px;

  background-color: #001D3D;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.cell:focus {
  outline: 1px solid #0054db;
  background-color: #0081c5;
}

.cell:hover {
  background-color: #0081c5;
}
