.table-container {
  overflow-x: auto;
  width: 100%;
  background-color: #000814;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar {
  width: 100px; /* Ancho del scrollbar para navegadores basados en Webkit (como Opera GX) */
  
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #041e36; /* Color del thumb (barra de desplazamiento) */
  border-radius: 6px; /* Borde redondeado del thumb */
}
.table-container::-webkit-scrollbar-track {
  background-color: #000814; /* Color de fondo del scrollbar */
}

.table-header {
  /*styling*/
  background-color: #000814;
  color: white;
  

  /*font*/
  font-weight: 300;
  font-size: 15px;

  /*dimensions*/
  padding: 0 10px 0 10px;
  height: 100%;
  width: 100%;
}

.cell {
  width: 100%;
  height: 40px;
  margin: 0;

  box-sizing: border-box;

  border: 0;
  padding: 0;
  padding-left: 10px;

  background-color: #001D3D;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.cell:focus {
  outline: 1px solid #0054db;
  background-color: #0081c5;
}

.cell:hover {
  background-color: #0081c5;
}
