.uploader-container {
  display: flex;
  align-items: center;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 8px;
  
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #001D3D;
  transition: all 0.5s;
}
.file-input-label:hover{
  background-color: white;
  color: #001D3D;
}

.upload-icon {
  margin-right: 8px;
}

.file-info {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background-color: #142331;
}

.file-icon {
  margin-right: 8px;
}

.clear-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #00296B;
  margin-left: 16px;
}

.clear-button:hover {
  color: white;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
