@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.logo {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-self: center;

  img {
    width: 50px; 
    height: auto; 
    transition: transform 0.2s ease-in-out; 

    &:hover {
      animation: latido 0.5s infinite;
    }
}

  @keyframes latido {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  h1 {
    margin-left: 10px;
  }
}


@media (max-width: 811px) {
  nav>*:not(h1, nav-right, .hamburger, .logo){
    display: none;
    
  }
  
  nav{
    height: 40px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    
  }
  nav.mobile-nav {
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }

  .logo{
    margin-left: 30px;
  }
  .search-input{
    width: 70%;
    height: 30px;
    border-radius: 10px;
  }
  .estab-selection{
    select{
      width: 70%;
    }
  }
}
@media (min-width: 811px){
  nav a{
    display: inline-block;
  }
  nav.mobile-nav {
    visibility: hidden;
    &.active {
      visibility: hidden;
    }
  }
  .hamburger{
    display: none;
    visibility: hidden;
  }
  .search-input{
    width: 30%;
    height: 30px;
    border-radius: 10px;
  }
  .estab-selection{
    select{
      width: 30%;
    }
  }
}
.hamburger{
  z-index: 3;
  right: 30px;
  top: 18px;
  color: #fff;
  padding: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  span{
    display: block;
    width: 16px;
    margin: 2px 0;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.2s linear;
  }

  &.active span {
    &:first-child {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(45deg);
      transform: rotate(-45deg);
      top: -4px;
    }

    &:last-child {
      opacity: 0;
    }
  }
}
:root {
  --primary: #8be2ed;
  --secondary1: #c9eef3;
  --secondary: #6d15df;
  --secondary2: #2dabbc;
}
h1,h2,h3,h6,h5,h4,p {
  margin: 0;
}
.header{
  margin: 0;
  padding: 0;
  justify-content: center;
}
.page{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}

nav {
  margin: 0;
  background: var(--secondary2);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  .logout{
    font-weight: bold;
  }
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 14px 25px;
}
nav a:hover {
  color: var(--secondary);
  background-color: var(--secondary1);
}
nav h1 {
  color: #333;
}
.page {
  width: 100%;
}


/* No implementado */

/*
  NavBar 
  */

  nav.mobile-nav {
    padding-top: 10px;
    display: inline-block;
    position: fixed;
    justify-content: center;
    top: 80px;
    bottom: 0;
    z-index: 2;
    width: 300px;
    height: auto;
    background-color: var(--primary);
    margin-left: 100px;
    transition: right 0.3s ease-in-out;
    &.active {
      display: inline-block;
      right: 0;
    }
  
    a {
       
      display: block;
      justify-items: center;
      opacity: 0;
      width: 60%;
      border-bottom: 1px solid #222;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 75px;
      text-decoration: none;
      font-size: 15px;
      text-align: right;
      transition: opacity .3s linear;
      transition-delay: .2s;
  
      &:hover {
        color: #aaa;
      }
    }
  
    &.active a {
      opacity: 1;
    }
  
    a {
      &:nth-child(2) {
        transition-delay: .25s;
      }
  
      &:nth-child(3) {
        transition-delay: .3s;
      }
  
      &:nth-child(4) {
        transition-delay: .35s;
      }
  
      &:nth-child(5) {
        transition-delay: .4s;
      }
  
      &:nth-child(6) {
        transition-delay: .45s;
      }

      &:nth-child(7) {
        transition-delay: .5s;
      }

      &:nth-child(8) {
        transition-delay: .55s;
      }

      &:nth-child(9) {
        transition-delay: .6s;
      }
    }
  }

  /**********************/


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_area{
  margin-top: 10%;
}

.form-signin{
  max-width: 380px;
  padding: 15px 35px 45px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--secondary1);
  box-shadow: 5px 5px 10px #333;
  .title-holder{
    display: flex;
    .logo-image{
      width: 40px;
      height: 40px;
    }
  }
  .text-box{
    position: relative;
    margin-top: 15px;
  }
  .text-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
  }
  .text-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: .5s;
  }
  .text-box input:focus ~ label,
  .text-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--secondary);
    font-size: 12px;
  }
  button{
    width: 100%;
    height: 30px;
    background-color: var(--primary);
    border-radius: 10px;
  }
  button:hover{
    box-shadow: 2px 2px 10px #333;
  }
}

.body{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-registro{
  max-width: 380px;
  padding: 15px 35px 45px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--secondary1);
  .text-box{
    position: relative;
    margin-top: 15px;
  }
  .text-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
  }
  .text-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: .5s;
  }
  .text-box input:focus ~ label,
  .text-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--secondary);
    font-size: 12px;
  }
}


.search{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2{
    width: fit-content;
  }
  form{
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

.search-input{
  height: 30px;
  border-radius: 10px;
}

.search-button{
  height: 35px;
  border-radius: 10px;
}

.result-div{
  justify-content: center;
  display: flex;
  .result-area{
    width: 600px;
    background-color: var(--secondary1);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #333;
    .result-text{
      margin: 15px;
      h2{
        margin-bottom: 10px;
        text-decoration: underline;
      }
      .subtitle{
        font-style: oblique;
        margin: 10px;
      }
    }
  }
}

.select-box{
  position: relative;
  margin-top: 15px;
  padding-bottom: 15px;
  select{
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    height: 30px;
    background-color: var(--secondary1);
  }
}

.submit-button button{
  width: 100%;
  height: 30px;
  background-color: var(--primary);
  border-radius: 10px;
}
.submit-button button:hover{
  box-shadow: 2px 2px 10px #333;
}

.table-area{
  justify-content: center;
  display: flex;
  .btn{
    margin: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--primary);
  }
  .btn:hover{
    box-shadow: 2px 2px 10px #333;
  }
}

.rwd-table {
  background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
  th {
    background: linear-gradient(var(--secondary1), var(--primary));
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
  }
  th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
  }
  
  th:first-child {
    border-left: 1px solid #777;	
    box-shadow: inset 1px 1px 0 #999;
  }
  
  th:last-child {
    box-shadow: inset -1px 1px 0 #999;
  }
  
  td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
  }
  
  td:first-child {
    box-shadow: inset 1px 0 0 #fff;
  }	
  
  td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
  }	
  
  tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
  }
  
  tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
  }	
  
  tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
  }	
  
  tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
  }
  
  tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
  }
}

$color1: #f4f4f4;
$color2: #3197EE;

.radio-selection{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  .radio-button{
    margin-left: 20px;
    margin-right: 20px;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + label {
        &:before {
          content: '';
          background: $color1;
          border-radius: 100%;
          border: 1px solid darken($color1, 25%);
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          position: relative;
          top: -0.2em;
          margin-right: 5px; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + label {
          &:before {
            background-color: $color2;
            box-shadow: inset 0 0 0 4px $color1;
          }
        }
      }
      &:focus {
        + label {
          &:before {
            outline: none;
            border-color: $color2;
          }
        }
      }
      &:disabled {
        + label {
          &:before {
            box-shadow: inset 0 0 0 4px $color1;
            border-color: darken($color1, 25%);
            background: darken($color1, 25%);
          }
        }
      }
      + label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.estab-selection{
  justify-content: center;
  display: flex;
  width: 90%;
  button{
    margin-left: 20px;
  }
}

.form-ingreso-paciente{
  margin-top: 20px;
}
.first-child{
  margin-left: 15px;
}

.limit-inv{
  margin-left: 15px;
}
.limit-inv-input{
  width: 70px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__rights {
  font-size: 14px;
}

